nav {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}


.search-wrapper {
  margin-top: 20px;
}

.search-wrapper input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-wrapper button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.recipe_card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

.recipe_card img {
  max-width: 100%;
  height: auto; 
  border-radius: 4px;
  margin-bottom: 10px;
}

.recipe_card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.recipe-details {
  margin-top: 20px;
}

.recipe-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipe-details img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
}

.recipe-details p {
  margin-bottom: 20px;
}

.recipe-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.recipe-details ul,
.recipe-details ol {
  margin-bottom: 20px;
}

.recipe-details li {
  margin-bottom: 5px;
}

